/* Blog Page css */
.blog-post {
    margin-top: 1.618%;
    margin-bottom: 1.618%;
    margin-left: auto;
    margin-right: auto;
    background:#333;
    color: white;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 1.618%;
    min-width: 50%;
    max-width: 900px;
    padding: 2rem;
  }
.blog-post h2 {
    color: #FCDC2A;
}

.blog-post a:hover {
  color: #436850; 
}

.blog-post a {
  color: #FCDC2A; 
}

.name-custom {
  color: #FCDC2A; 
}

/* Styling image as rich text component*/
.blog-post img {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 20px 0;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}