/* ---------------------------------------- GLOBAL-CUSTOM-CSS -------------------------------------------*/
/* ------------------------------------------ Main layout -------------------------------------- */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('../images/forestbackground.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #333;
}

main {
  flex: 1;
  padding: var(--size-gutter);
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  bottom: 0;
}

/*------------------------------------------ Navigation ----------------------------------- */
.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  font-weight: bold;
}
.nav-button:hover {
  color: #436850 !important; 
}
.nav-button.active {
  color: #FCDC2A !important; 
}

/*------------------------------------------ Custom Page ----------------------------------- */
/* About Page css */
.bucket-list {
  background:#333;
  color: white;
  display:flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 1%;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
}

/* Blog Page css */
.blog-page {
  background:#333;
  color: white;
  display:flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 1%;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
}

/* Blog Post css */
.blog-post {
  background:#333;
  color: white;
  display:flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 1%;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
}
