/* Tool Page css */
.tool-page {
    margin-top: 1.618%;
    margin-bottom: 1.618%;
    margin-left: auto;
    margin-right: auto;
    background:#333;
    color: white;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 1.618%;
    max-width: 900px;
    padding: 2rem;
  }
.tool-page h2 {
    color: #FCDC2A;
}

.tool-page a:hover {
  color: #436850; 
}

.tool-page a {
  color: #FCDC2A; 
}

.name-custom {
  color: #FCDC2A; 
}